{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title></title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- main JS libs -->
<script src="{% static 'js/libs/modernizr.min.js' %}"></script>
<script src="{% static 'js/libs/jquery-1.10.0.js' %}"></script>
<script src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>

<!-- Style CSS -->
<link href="{% static 'css/bootstrap.css' %}" media="screen" rel="stylesheet">
<link href="{% static 'style.css' %}" media="screen" rel="stylesheet">

<!-- pubnub -->
<script src="http://cdn.pubnub.com/pubnub-3.7.12.min.js"></script>

<!-- Audio Player  -->
<link href="{% static 'css/jplayer.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
<script src="{% static 'js/jplayer.playlist.min.js' %}"></script>
<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){

        new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_1",
            cssSelectorAncestor: "#jp_container_1"
        }, [
            {
            },
        ], {
            swfPath: "js",
            supplied: "mp3",
            wmode: "window",
            smoothPlayBar: false,
            keyEnabled: false
        });
    });
    //]]>
</script>

<!-- scripts -->
<script src="{% static 'js/general.js' %}"></script>

<!-- Include all needed stylesheets and scripts here -->

<!--[if lt IE 9]><script src="{% static 'js/respond.min.js' %}"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
    {% include "underscore_templates.html" %}
    <div class="body_wrap">
        <div class="container">

            <div class="content" role="main">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8" style="text-align: center;">
                        <!-- Website Menu -->
                        <div class="dropdown-wrap boxed-velvet">
                            <ul class="dropdown inner clearfix top-nav">
                                <li class="menu-level-0"><a href="#"><span>Account</span></a></li>
                                <li class="menu-level-0"><a href="#"><span>About Us</span></a>
                                    <ul class="submenu-1">
                                        <li class="menu-level-1"><a href="#">Portfolio</a></li>
                                        <li class="menu-level-1"><a href="#">Testimonials</a></li>
                                        <li class="menu-level-1"><a href="#">Contacts</a>
                                            <ul class="submenu-2">
                                                <li class="menu-level-2"><a href="#">Gallery images</a></li>
                                                <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                                                <li class="menu-level-2"><a href="#">Video in header</a></li>
                                                <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-level-0"><a href="#"><span>Settings</span></a>
                                    <ul class="submenu-1">
                                        <li class="menu-level-1"><a href="#">Privacy Policy</a></li>
                                        <li class="menu-level-1"><a href="#">Copyright</a></li>
                                        <li class="menu-level-1"><a href="#">Terms of Service</a>
                                            <ul class="submenu-2">
                                                <li class="menu-level-2"><a href="#">Gallery images</a></li>
                                                <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                                                <li class="menu-level-2"><a href="#">Video in header</a></li>
                                                <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/ Website Menu -->
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <!-- Buttons -->
                        <div class="buttons-wrap" style="text-align: center;">
                            <div class="buttons">
                                <a href="#" class="help btn btn-pagination"><span>What Is This Thing?</span></a>
                                <!-- SBL need to add modal shit here -->
                            </div>

                        </div>
                        <!--/ Buttons -->
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: center;">
                        <div id="login-and-channel-area">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Widget Audio Player -->
                        <div class="widget-container widget-audio">
                            <div class="inner">
                                <!-- jplayer-->
                                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                                <div id="jp_container_1" class="jp-audio">
                                    <div class="jp-type-playlist">
                                        <div class="jp-playlist">
                                            <ul class="jp-playlist-inner">
                                                <li></li>
                                            </ul>
                                        </div>
                                        <div class="jp-gui jp-interface" id="music-player">
                                            <div class="song_title_wrap">
                                                <div class="song_title"></div>
                                            </div>
                                            <div class="jp-controls-wrap">
                                                <div class="jp-progress">
                                                    <div class="jp-seek-bar">
                                                        <div class="jp-play-bar"></div>
                                                    </div>
                                                </div>
                                                <ul class="jp-controls">
                                                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-previous disabled" tabindex="1">previous</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li><!--
                                                            --><li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                                                </ul>
                                                <div class="jp-volume-bar">
                                                    <div class="jp-volume-bar-value"></div>
                                                </div>
                                                <div class="jp-current-time"></div>
                                                <div class="jp-duration"></div>
                                            </div>
                                        </div>
                                        <div class="jp-no-solution">
                                            <span>Update Required</span>
                                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                        </div>
                                    </div>
                                </div>
                                <!--/ jplayer-->
                            </div>
                        </div>
                        <!-- Widget Audio Player -->
                    </div>
                    <div class="col-md-4">
                        <div id="playlist-area">
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--/ container -->
    </div>
    <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("{{ mixpanel_token }}");</script><!-- end Mixpanel -->


    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.3.3.min.js"></script>
    <script type="text/javascript">
        Parse.initialize("{{ parse_app_id }}", "{{ parse_key }}");
    </script>
    <script type="text/javascript" src="{% static 'js/strober.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone_views.js' %}"></script>

    <script>
    $(document).ready(function(){

        var facebookOptions = {
            appId      : '{{ facebook_app_id }}',
            xfbml      : true,
            version    : 'v2.3'
        }

        window.fbAsyncInit = function() {
            FB.init(facebookOptions);
            // called when page loads
            var callback = function(response){
            };
            FB.getLoginStatus(callback);
            Parse.FacebookUtils.init(facebookOptions);
            var indexRouter = new IndexRouter();
            Backbone.history.start();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "{% static 'js/facebook_sdk.js' %}";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });
    </script>
</body>
</html>
