{% load staticfiles %}

<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="channel-view">
    <h6 class="foo">Channel Name</h6>
    <!-- Ribbons -->
    <div class="ribbon ribbon-red"><span>Methalop</span></div>
    <!--/ Ribbons -->

    <div class="tabs_framed styled" style="margin-top: 15px;">
        <div class="inner">
            <div class="tab-content clearfix">
                <div class="tab-pane clearfix fade in active" id="events">
                    <!-- <h4>10 august 2012</h4> -->
                    <p>
                    Grab as many iPhones as you can with the "XXXX" app and subscribe to the channel here.  You'll get a sweet light show that will leave you amped and wanting more.
                    </p>
                    <a href="#" class="see-more"><span>Get the iOS App</span></a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="login-view">
<img class="fb-login-btn" src="{% static 'images/facebook_login.png' %}" style="width: 100%; margin-top: 50px; cursor: pointer;"/>
</script>
