{% load staticfiles %}

<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="channel-view">
    <h6 class="foo">Channel Name</h6>
    <!-- Ribbons -->

    <% if(editState === CHANNEL_STATES.NO_EDIT) { %>
        <div class="ribbon ribbon-red"><span><%= channelName %> <a href="#" class="edit"><i style="margin-left: 10px;" class="fa fa-pencil-square-o"></i></a></span></div>
    <% } else if(editState === CHANNEL_STATES.EDIT_NEW) { %>
        <span><input type="text"/><span>
        <div style="margin-top: 10px;">
            <a href="#" class="save btn btn-pagination" hidefocus="true" style="outline: none; opacity: 1;"><span>Save</span></a>
        </div>
    <% } else if(editState === CHANNEL_STATES.EDIT_EXISTING) { %>
        <span><input type="text" value="<%= channelName %>"/><span>
        <div style="margin-top: 10px;">
            <a href="#" class="save btn btn-pagination" hidefocus="true" style="outline: none; opacity: 1;"><span>Save</span></a>
            <a href="#" class="cancel btn btn-pagination btn-black" hidefocus="true" style="outline: none; opacity: 1;"><span>Cancel</span></a>
        </div>
    <% } %>

    <!--/ Ribbons -->

    <div class="tabs_framed styled" style="margin-top: 15px;">
        <div class="inner">
            <div class="tab-content clearfix">
                <div class="tab-pane clearfix fade in active" id="events">
                    <% if(editState === CHANNEL_STATES.EDIT_NEW) { %>
                    <p>
                        Start by inputting your own unique channel name for you or other users to subscribe to!
                    </p>
                    <% }  else { %>
                        <p>
                        Grab as many iPhones as you can with the "XXXX" app and subscribe to the channel here.  You'll get a sweet light show that will leave you amped and wanting more.
                        </p>
                        <a href="#" class="see-more"><span>Get the iOS App</span></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="login-view">
<img class="fb-login-btn" src="{% static 'images/facebook_login.png' %}" style="width: 100%; margin-top: 50px; cursor: pointer;"/>
</script>
<script type="text/html" id="playlist-view">
    <% if(playlistState === PLAYLIST_STATES.UPLOAD_NOT_ALLOWED) {  %>
    <% } else if(playlistState === PLAYLIST_STATES.UPLOAD_GRAY) {  %>
        <a href="#" class="upload btn btn-pagination btn-black" hidefocus="true" style="outline: none; opacity: 1;"><span>Upload MP3</span></a>
    <% } else if(playlistState === PLAYLIST_STATES.UPLOAD_PRIMARY) {  %>
        <a href="#" class="upload btn btn-pagination" hidefocus="true" style="outline: none; opacity: 1;"><span>Upload MP3</span></a>
    <% }%>

    <div style="margin-top: 10px;">
        <div class="tagcloud ">
            <a href="#" class="tag-link-1" style="margin: 0;" title="2 topics"><span>Song 1</span></a>
        </div>
        <div class="tagcloud ">
            <a href="#" class="tag-link-1" style="margin: 0;" title="2 topics"><span>Some other song</span></a>
        </div>
    </div>
    <form action="." method="POST" enctype="multipart/form-data">
        <input type="file" id="upfile" name="upfile" type="file" value="upload" style="visibility: hidden;" accept="audio/mp3"/>
        <p>
            <%= filename %>
        </p>
    </form>
</script>
