{% load staticfiles %}

<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="channel-view">
    <h6 class="foo">Channel Name</h6>
    <!-- Ribbons -->

    <% if(editState === CHANNEL_STATES.NO_EDIT) { %>
        <div class="ribbon ribbon-red"><span><%= channelName %> <a href="#" class="edit"><i style="margin-left: 10px;" class="fa fa-pencil-square-o"></i></a></span></div>
    <% } else if(editState === CHANNEL_STATES.EDIT_NEW) { %>
        <span><input type="text"/><span>
        <div style="margin-top: 10px;">
            <a href="#" class="save btn btn-pagination" hidefocus="true" style="outline: none; opacity: 1;"><span>Save</span></a>
        </div>
    <% } else if(editState === CHANNEL_STATES.EDIT_EXISTING) { %>
        <span><input type="text" value="<%= channelName %>"/><span>
        <div style="margin-top: 10px;">
            <a href="#" class="save btn btn-pagination" hidefocus="true" style="outline: none; opacity: 1;"><span>Save</span></a>
            <a href="#" class="cancel btn btn-pagination btn-black" hidefocus="true" style="outline: none; opacity: 1;"><span>Cancel</span></a>
        </div>
    <% } %>

    <!--/ Ribbons -->

    <div class="tabs_framed styled" style="margin-top: 15px;">
        <div class="inner">
            <div class="tab-content clearfix">
                <div class="tab-pane clearfix fade in active" id="events">
                    <% if(editState === CHANNEL_STATES.EDIT_NEW) { %>
                    <p>
                        Start by inputting your own unique channel name for you or other users to subscribe to!
                    </p>
                    <% }  else { %>
                        <p>
                        Grab as many iPhones as you can with the "Cymatic Radio" app and subscribe to the channel here.  You'll get a sweet light show that will leave you amped and wanting more.
                        </p>
                        <a href="#" class="see-more"><span>Get the iOS App</span></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="login-view">
<img class="fb-login-btn" src="{% static 'images/facebook_login.png' %}" style="width: 100%; margin-top: 50px; cursor: pointer;"/>
    <div class="loader"></div>
</script>
<script type="text/html" id="playlist-view">
    <% if(playlistState === PLAYLIST_STATES.UPLOAD_NOT_ALLOWED) {  %>
    <% } else if(playlistState === PLAYLIST_STATES.UPLOAD_GRAY) {  %>
        <a href="#" class="upload btn btn-pagination btn-black" hidefocus="true" style="outline: none; opacity: 1;"><span>Upload MP3</span></a>
    <% } else if(playlistState === PLAYLIST_STATES.UPLOAD_PRIMARY) {  %>
        <a href="#" class="upload btn btn-pagination" hidefocus="true" style="outline: none; opacity: 1;"><span>Upload MP3</span></a>
    <% }%>

    <form action="." method="POST" enctype="multipart/form-data">
        <input type="file" id="upfile" name="upfile" type="file" value="upload" style="visibility: hidden;" accept="audio/mp3"/>
        <p>
            <%= filename %>
        </p>
    </form>
    <div class="loader"></div>
    <% if(playlistState !== PLAYLIST_STATES.UPLOAD_NOT_ALLOWED) {  %>
        <div style="margin-top: 10px;">
            <% for(var i=0; i < songCollection.length; i++) { %>
            <% var song = songCollection[i]; %>
                <div class="tagcloud ">
                    <a href="#" class="tag-link-1 playable-song" style="margin: 0;" title="2 topics"><span id="song_<%= song.id %>"><%= song.artist_name %> - <%= song.track_name %></span></a>
            </div>

            <% } %>

        </div>
    <% } %>
</script>

<script type="text/html" id="modal-about">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background: #323232;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload a Video</h4>
                </div>
                <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
                    <div class="row-fluid">
                        <div class="col-sm-6">
                            <p>Ensure that:</p>
                            <ul style="font-size: 14px;">
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is head on (barbell's angle in the image is 0)</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is stable</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is one continuous shot</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Don't use so much weight that the bar bends</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Use a weight where good form is maintained</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Standard Olympic Barbell</li>
        <li><i style="color: #0A0;" class="icon-checkmark"></i> Entire barbell should fit in the screen</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Barbell should be at least half the width of the screen</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <form action="." method="POST" enctype="multipart/form-data">
                                <input type="file" id="upfile" name="upfile" type="file" value="upload" style="visibility: hidden;" accept="video/*"/>
                                <p>
                                    <%= videoName %>
                                </p>
                                <a id="choose-file" style="font-size: 18px;" href="javascript:void(0);" class="button large alt <% if (videoUploaded) { %>cancel<% } %>">
                                    Choose File
                                </a>
                                <p id="uploading-text">
                                    Uploading...
                                </p>
                                <p id="error-area">
                                    <%= errorMessage %>
                                </p>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="cancel-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
                        Cancel
                    </a>
                    <a id="upload-video-button-final" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
                        Upload
                    </a>
                    <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
                </div>
            </div>
        </div>
    </div>
</script>
